.container{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
ul.breadcrumb {
    padding: 10px 0px;
    list-style: none;
    background-color: #fff;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #767676;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #767676;
    text-decoration: underline;
}


ul.breadcrumb li a:hover {
    color: #c4c4c4;
    text-decoration: underline;
}

.breadcrumb__now {
    color: #767676;
}