.header,
.menu,
.footer {
  width: 100%;
}

header {
  background-color: #dcdcdc;
}



.logo-phone-container {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стилі для меню сайту */
.menu {
  background-color: #767676;
  height: 50px;
  text-align: center;
  width: 100%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

.menu li {
  border-right: 2px solid #fff;
  padding-right: 10px;
  /* додатковий відступ для елементів */
}

.menu li:last-child {
  border-right: none;
  /* видалення правого бордеру для останнього елемента */
}


.menu a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.75px;
  line-height: normal;
  font-style: normal;
  text-align: center;
  color: #fff;
  text-decoration: none;

}

.navigation ul li {
  display: inline-block;
  padding: 0px 10px 0px 0px;
  margin: 10px 5px;
  text-align: center;
}


.navigation-container {
  max-width: 960;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url('../fonts/Open_Sans_Condensed_Light/OpenSans-CondLight.ttf') format('truetype');
}

.phone {
  font-family: 'Open Sans Condensed Light', sans-serif;
  color: #767676;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: right;

}

.feedback a {
  text-decoration: underline dashed;
  color: #767676;
}

.logo img {
  height: 100px;
  width: 100px;
  border-right: 6px solid #767676;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.namecompany {
  color: #767676;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;

  margin: 0px 0px 0px 7px;
}

.slogan {
  color: #767676;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  margin: 5px 0px 0px 11px;
}

/* --------------------Адаптив-----------------------*/
/* Для екранів менше 768 пікселів */
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }


  /* Гамбургер іконка */
  .menu-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 30;
    overflow: hidden;
    padding: 0px 50px 0px 10px;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 31;
    transform: translate(-50%, -50%);
    background-color: #767676;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
    background-color: #767676;
  }

  /* Змінюємо гамбургер іконку, коли меню відчинено */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
    background-color: #fff;
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
    background-color: #fff;
  }

  /* Меню, яке буде зʼявлятися */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #767676;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 8;
  }
  .menu a{
    font-size: 40px;
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu li {
    list-style-type: none;
  }

  .logo-phone-container {
    
    flex-direction: column;
    padding-bottom: 30px;
  }

  .phone {
    font-size: 35px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .feedback a {
    text-decoration: underline dashed;
    color: #767676;
    line-height: 10px;
  }
  .feedback{
    padding-top: 15px;
  }

  .logo img {
    height: 130px;
    width: 130px;
    border-right: 6px solid #767676;
  }

  .namecompany {
    color: #767676;
    font-size: 45px;
  }

  .slogan {
    font-size: 20px;
    margin: 5px 0px 0px 11px;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border-right: none;
    border-bottom: 3px solid #fff;
    margin: 0;
  }

  .menu ul li {
    padding: 0px 0px 13px 0px;
  }

  .menu li:last-child {
    border-bottom: none;
  }
  
  

}

/* Для екранів від 768 пікселів і більше */
@media (min-width: 769px) {
  .logo-phone-container{
    display: flex;
    justify-content: center;
  }
  .menu {
    height: 50px;
  }

  .menu ul {
    flex-direction: row;
  }

  .menu li {
    border-right: 2px solid #fff;
    padding-right: 10px;
    margin: 10px 5px;
  }

  .menu li:last-child {
    border-right: none;
  }
 
  .menu a {
    padding: 0;
    display: inline-block;
    border-bottom: none;
  }
  .menu a:hover{
    text-decoration: underline;
  }
  
  .menu-btn{
    display: none;
  }
  .logo{
    margin-right: auto;
    padding-left: 10px;
  }
  .phone{
    padding-right: 10px;
  }
}

/* ------------------------------------------------- */