.slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider__body {
    max-width: 1250px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.slider__item img {
    max-width: 100%;
    margin: 0 auto;
}


.slider__body .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    font-size: 0;
    width: 30px;
    height: 60px;
    z-index: 5;
}

.slider__body .slick-arrow.slick-prev {
    left: 50px;
    background: url('../img/arrow_left.png') 0 0 / 100% no-repeat;
}

.slider__body .slick-arrow.slick-next {
    right: 50px;
    background: url('../img/arrow_right.png') 0 0 / 100% no-repeat;
}

.slide__item {
    width: 100%;
    overflow: hidden;
    margin: 35px 100px 35px 100px;
}

@media (max-width: 768px) {
    .slider__body {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .slider__body .slick-arrow {
        position: absolute;
        top: 50%;
        font-size: 0;
        margin: -30px 0px 0px 0px;
        width: 30px;
        height: 60px;
    }

    .slider__body .slick-arrow.slick-prev {
        left: 10px;
        background: url('../img/arrow_left.png') 0 0 / 100% no-repeat;
    }

    .slider__body .slick-arrow.slick-next {
        right: 10px;
        background: url('../img/arrow_right.png') 0 0 / 100% no-repeat;
    }

    .slide__ritem {
        width: 100%;
        overflow: hidden;
        margin: 0;
    }

    .slider__item img {
        max-width: 100%;
        margin: 0 auto;
    }
}