.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    font-size: 0;
    width: 30px;
    height: 60px;
    z-index: 50;
}

.slider .slick-arrow.slick-prev {
    left: 50px;
    background: url('../img/arrow_left.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 50px;
    background: url('../img/arrow_right.png') 0 0 / 100% no-repeat;
}

.slide__item {
    width: 100%;
    overflow: hidden;
    margin: 35px 100px 35px 100px;
}

.slide__item img {
    width: 100%;
}



@media (max-width: 768px) {
    .slider {
        position: relative;
    }

    .slider .slick-arrow {
        position: absolute;
        top: 50%;
        font-size: 0;
        margin: -30px 0px 0px 0px;
        width: 30px;
        height: 60px;
    }

    .slider .slick-arrow.slick-prev {
        left: 10px;
        background: url('../img/arrow_left.png') 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-next {
        right: 10px;
        background: url('../img/arrow_right.png') 0 0 / 100% no-repeat;
    }

    .slide__item {
        width: 100%;
        overflow: hidden;
        margin: 0;
    }

    .slide__item img {
        width: 100%;
    }
}